### data preprocessing

In [1]:
#colab에서 작업
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import re

In [ ]:
"""
name23 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/2_name_23.csv', names=['name','location','sg','memo'], encoding='cp949')
price23 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/2_price_23.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')
name34 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/2_name_34.csv', names=['name','location','sg','memo'], encoding='cp949')
price34 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/2_price_34.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')
name45 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/2_name_45.csv', names=['name','location','sg','memo'], encoding='cp949')
price45 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/2_price_45.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')

name23 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/3_name_23.csv', names=['name','location','sg','memo'], encoding='cp949')
price23 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/3_price_23.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')
name34 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/3_name_34.csv', names=['name','location','sg','memo'], encoding='cp949')
price34 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/3_price_34.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')
name45 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/3_name_45.csv', names=['name','location','sg','memo'], encoding='cp949')
price45 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/3_price_45.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')
"""
name23 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/4_name_23.csv', names=['name','location','sg','memo'], encoding='cp949')
price23 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/4_price_23.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')
name34 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/4_name_34.csv', names=['name','location','sg','memo'], encoding='cp949')
price34 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/4_price_34.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')
name45 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/4_name_45.csv', names=['name','location','sg','memo'], encoding='cp949')
price45 = pd.read_csv('/content/drive/MyDrive/AIB17/project1/4_price_45.csv', names=['price','checkin_date','checkin_day','checkout_date','checkout_day'], encoding='cp949')

In [ ]:
name23.head(5)

                name   location      sg      memo
0         파르나스 호텔 제주  서귀포, 대한민국  9.25성급       NaN
1           제주 신라 호텔  서귀포, 대한민국  9.05성급  직원들이 친절함
2  랜딩관 제주신화월드 호텔앤리조트  서귀포, 대한민국  8.35성급       NaN
3          메종 글래드 제주   제주, 대한민국  8.15성급  위치 아주 좋음
4      라마다 프라자 제주 호텔   제주, 대한민국  8.25성급  직원들이 친절함

In [ ]:
price45.head(5)

          price  checkin_date checkin_day  checkout_date checkout_day
0  21,560,000원~          6.01           목           6.05            월
1     708,992원~          6.01           목           6.05            월
2     595,044원~          6.01           목           6.05            월
3   1,889,259원~          6.01           목           6.05            월
4     314,650원~          6.01           목           6.05            월

##### name data

In [ ]:
name23 = name23.iloc[:,0:3]
name34 = name34.iloc[:,0:3]
name45 = name45.iloc[:,0:3]

In [ ]:
name45

                name   location      sg
0           제주 신라 호텔  서귀포, 대한민국  9.05성급
1      라마다 프라자 제주 호텔   제주, 대한민국  8.25성급
2       라마다 제주 시티 호텔   제주, 대한민국  8.14성급
3        휘닉스 제주 섭지코지  서귀포, 대한민국  7.84성급
4         더큐브 리조트 제주  서귀포, 대한민국  8.24성급
...              ...        ...     ...
2595     라온 호텔 앤 리조트   제주, 대한민국  6.83성급
2596          에벤에셀호텔   제주, 대한민국     8.5
2597      골드원 호텔&스위트  서귀포, 대한민국  8.64성급
2598  제주 샹그릴라 호텔앤리조트   제주, 대한민국  7.83성급
2599      제주 마레보 리조트   제주, 대한민국  7.63성급

[2600 rows x 3 columns]

In [ ]:
#필요없는 문자, 특수기호 제거
name23 = name23.apply(lambda x: x.astype(str).str.replace('"', ''))
name23 = name23.apply(lambda x: x.astype(str).str.replace(', 대한민국',''))
name23 = name23.apply(lambda x: x.astype(str).str.replace('성급',''))
price23 = price23.apply(lambda x: x.astype(str).str.replace('"', ''))
price23 = price23.apply(lambda x: x.astype(str).str.replace('원~',''))
price23 = price23.apply(lambda x: x.astype(str).str.replace(',',''))
price23 = price23.apply(lambda x: x.astype(str).str.replace('.',''))

<ipython-input-86-4f8e2a97a8c8>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  price23 = price23.apply(lambda x: x.astype(str).str.replace('.',''))

In [ ]:
#필요없는 문자, 특수기호 제거
name34 = name34.apply(lambda x: x.astype(str).str.replace('"', ''))
name34 = name34.apply(lambda x: x.astype(str).str.replace(', 대한민국',''))
name34 = name34.apply(lambda x: x.astype(str).str.replace('성급',''))
price34 = price34.apply(lambda x: x.astype(str).str.replace('"', ''))
price34 = price34.apply(lambda x: x.astype(str).str.replace('원~',''))
price34 = price34.apply(lambda x: x.astype(str).str.replace(',',''))
price34 = price34.apply(lambda x: x.astype(str).str.replace('.',''))

<ipython-input-87-66fab3af04aa>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  price34 = price34.apply(lambda x: x.astype(str).str.replace('.',''))

In [ ]:
#필요없는 문자, 특수기호 제거
name45 = name45.apply(lambda x: x.astype(str).str.replace('"', ''))
name45 = name45.apply(lambda x: x.astype(str).str.replace(', 대한민국',''))
name45 = name45.apply(lambda x: x.astype(str).str.replace('성급',''))
price45 = price45.apply(lambda x: x.astype(str).str.replace('"', ''))
price45 = price45.apply(lambda x: x.astype(str).str.replace('원~',''))
price45 = price45.apply(lambda x: x.astype(str).str.replace(',',''))
price45 = price45.apply(lambda x: x.astype(str).str.replace('.',''))

<ipython-input-88-364e4bf4d549>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  price45 = price45.apply(lambda x: x.astype(str).str.replace('.',''))

In [ ]:
#sg column의 맨 뒤 숫자 = grade(x성급)
#sg column의 앞 3자리 = score(평점 x.x)
name23['sg'].unique()

array(['9.25', '9.05', '8.35', '8.15', '8.25', '8.95', '8.6', '7.64',
       '7.74', '8.14', '8.65', '7.34', '7.84', '8.24', '8.64', '7.94',
       '8.8', '8.45', '8.44', '8.2', '8.43', '8.34', '평점없음', '7.73',
       '7.93', '8.83', '8.53', '8.85', '7.53', '8.04', '7.23', '7.44',
       '7.83', '8.62', '8.5', '8.33', '9.24', '8.54', '10.03', '8.1',
       '7.54', '8.03', '7.03', '9.2', '평점없음3', '6.83', '7.63', '9.43',
       '7.13', '8.23', '9.04', '6.93', '8.13', '7.22', '8.9', '7.33',
       '7.7', '7.02', '9.83', '9.13', '8.0', '8.4', '8.92', '6.63',
       '5.64', '7.32', '10.0', '8.55', '7.2', '평점없음2', '8.7', '8.93',
       '9.03', '8.94'], dtype=object)

In [ ]:
#2박3일 자료 갯수 = 2800
for i in range(2800):
  if len(name23.iloc[i,2]) == 1:
    name23.loc[i,'grade']= name23.loc[i,'sg']
    name23.loc[i,'score']= 0
  elif len(name23.iloc[i,2]) == 3:
    name23.loc[i,'grade']= 0
    name23.loc[i,'score']= name23.loc[i,'sg']
  elif len(name23.iloc[i,2]) > 3 :
    name23['grade'] = name23['sg'].str[-1]
    name23['score'] = name23['sg'].str[:-1]

In [ ]:
#3박4일 자료 갯수 = 2700
for i in range(2700):
  if len(name34.iloc[i,2]) == 1:
    name34.loc[i,'grade']= name34.loc[i,'sg']
    name34.loc[i,'score']= 0
  elif len(name34.iloc[i,2]) == 3:
    name34.loc[i,'grade']= 0
    name34.loc[i,'score']= name34.loc[i,'sg']
  elif len(name34.iloc[i,2]) > 3 :
    name34['grade'] = name34['sg'].str[-1]
    name34['score'] = name34['sg'].str[:-1]

In [ ]:
#4박5일 자료 갯수 = 2600
for i in range(2600):
  if len(name45.iloc[i,2]) == 1:
    name45.loc[i,'grade']= name45.loc[i,'sg']
    name45.loc[i,'score']= 0
  elif len(name45.iloc[i,2]) == 3:
    name45.loc[i,'grade']= 0
    name45.loc[i,'score']= name45.loc[i,'sg']
  elif len(name45.iloc[i,2]) > 3 :
    name45['grade'] = name45['sg'].str[-1]
    name45['score'] = name45['sg'].str[:-1]

In [ ]:
name34

               name location     sg grade score
0          제주 신라 호텔      서귀포   9.05     5   9.0
1         메종 글래드 제주       제주   8.15     5   8.1
2     라마다 프라자 제주 호텔       제주   8.25     5   8.2
3           에코랜드 호텔       제주    8.6     6    8.
4      라마다 제주 시티 호텔       제주   8.14     4   8.1
...             ...      ...    ...   ...   ...
2695        BK호텔 제주      서귀포   8.53     3   8.5
2696       스테이 인 제주      서귀포  평점없음3     3  평점없음
2697     코업시티호텔 하버뷰      서귀포   8.14     4   8.1
2698    라온 호텔 앤 리조트       제주   6.83     3   6.8
2699         에벤에셀호텔       제주    8.5     0   8.5

[2700 rows x 5 columns]

In [ ]:
name23['grade'].unique()

array(['5', '6', '4', '8', '2', '3', '음', '1', '9', '7', '0'],
      dtype=object)

In [ ]:
name34['grade'].unique()

array(['5', '6', '4', '8', '2', '3', '음', '1', '9', '0', '7', 0],
      dtype=object)

In [ ]:
name45['grade'].unique()

array(['5', '4', '8', '3', '음', '1', '2', '0', '9', '6', '7'],
      dtype=object)

In [ ]:
name23['score'].unique()

array(['9.2', '9.0', '8.3', '8.1', '8.2', '8.9', '8.', '7.6', '7.7',
       '8.6', '7.3', '7.8', '7.9', '8.4', '평점없', '8.8', '8.5', '7.5',
       '8.0', '7.2', '7.4', '10.0', '7.0', '9.', '평점없음', '6.8', '9.4',
       '7.1', '6.9', '7.', '9.8', '9.1', '6.6', '5.6', '10.'],
      dtype=object)

In [ ]:
name34['score'].unique()

array(['9.0', '8.1', '8.2', '8.', '8.6', '7.8', '7.9', '8.4', '평점없',
       '7.7', '8.3', '9.2', '7.5', '8.0', '7.2', '7.4', '8.8', '8.5',
       '10.0', '7.0', '9.', '7.6', '6.9', '7.1', '9.8', '9.1', '6.8',
       '8.9', '6.6', '5.6', '7.3', '10.', '평점없음', '8.7', '7.', '6.',
       '9.4'], dtype=object)

In [ ]:
name45['score'].unique()

array(['9.0', '8.2', '8.1', '7.8', '8.6', '7.9', '8.', '8.4', '평점없',
       '7.7', '8.3', '7.5', '8.0', '7.2', '7.4', '8.8', '9.2', '8.5',
       '10.0', '7.0', '9.', '7.6', '6.9', '7.1', '9.8', '9.1', '6.8',
       '8.9', '6.6', '5.6', '7.3', '10.', '평점없음', '8.7', '7.', '6.',
       '9.7', '4.9', '9.4'], dtype=object)

In [ ]:
for i in range(2800):
  if name23.iloc[i,3] == '음':
    name23.iloc[i,3] = 0
  if name23.iloc[i,4] == '평점없':
    name23.iloc[i,4] = 0
  if name23.iloc[i,4] == '평점없음':
    name23.iloc[i,4] = 0
name23 = name23.astype({'grade': 'int','score':'float'})

In [ ]:
for i in range(2700):
  if name34.iloc[i,3] == '음':
    name34.iloc[i,3] = 0
  if name34.iloc[i,4] == '평점없':
    name34.iloc[i,4] = 0
  if name34.iloc[i,4] == '평점없음':
    name34.iloc[i,4] = 0
name34 = name34.astype({'grade': 'int','score':'float'})

In [ ]:
for i in range(2600):
  if name45.iloc[i,3] == '음':
    name45.iloc[i,3] = 0
  if name45.iloc[i,4] == '평점없':
    name45.iloc[i,4] = 0
  if name45.iloc[i,4] == '평점없음':
    name45.iloc[i,4] = 0
name45 = name45.astype({'grade': 'int','score':'float'})

In [ ]:
for i in range(2800):
  if name23.iloc[i,3] > 5:
    name23.iloc[i,4] = str(name23.iloc[i,4] + name23.iloc[i,3])
    name23.iloc[i,3] = 0
  if float(name23.iloc[i,4]) > 10:
    name23.iloc[i,4] = 0

In [ ]:
for i in range(2700):
  if name34.iloc[i,3] > 5:
    name34.iloc[i,4] = str(name34.iloc[i,4] + name34.iloc[i,3])
    name34.iloc[i,3] = 0
  if float(name34.iloc[i,4]) > 10:
    name34.iloc[i,4] = 0

In [ ]:
for i in range(2600):
  if name45.iloc[i,3] > 5:
    name45.iloc[i,4] = str(name45.iloc[i,4] + name45.iloc[i,3])
    name45.iloc[i,3] = 0
  if float(name45.iloc[i,4]) > 10:
    name45.iloc[i,4] = 0

In [ ]:
name23['grade'].unique()

array([5, 0, 4, 2, 3, 1])

In [ ]:
name34['grade'].unique()

array([5, 0, 4, 2, 3, 1])

In [ ]:
name45['grade'].unique()

array([5, 4, 0, 3, 1, 2])

In [ ]:
name23['score'].unique()

array([9.2, 9.0, 8.3, 8.1, 8.2, 8.9, 0, 7.6, 7.7, 8.6, 7.3, 7.8, 7.9, 8.4,
       8.0, 8.8, 8.5, 7.5, 7.2, 7.4, 10.0, 7.0, 6.8, 9.4, 7.1, 6.9, 9.8,
       9.1, 6.6, 5.6], dtype=object)

In [ ]:
name34['score'].unique()

array([9.0, 8.1, 8.2, 0, 8.6, 7.8, 7.9, 8.4, 8.0, 7.7, 8.3, 9.2, 7.5, 7.2,
       7.4, 8.8, 8.5, 10.0, 7.0, 7.6, 6.9, 7.1, 9.8, 9.1, 6.8, 8.9, 6.6,
       5.6, 7.3, 8.7, 9.4], dtype=object)

In [ ]:
name45['score'].unique()

array([9.0, 8.2, 8.1, 7.8, 8.6, 7.9, 0, 8.4, 7.7, 8.3, 7.5, 8.0, 7.2, 7.4,
       8.8, 9.2, 8.5, 10.0, 7.0, 7.6, 6.9, 7.1, 9.8, 9.1, 6.8, 8.9, 6.6,
       5.6, 7.3, 8.7, 6.0, 9.7, 4.9, 9.4], dtype=object)

In [ ]:
name23 = name23.astype({'grade': 'int','score':'float'})
name23.dtypes
name34 = name34.astype({'grade': 'int','score':'float'})
name34.dtypes
name45 = name45.astype({'grade': 'int','score':'float'})
name45.dtypes

name         object
location     object
sg           object
grade         int64
score       float64
dtype: object

In [ ]:
#sg column 삭제
name23 = name23.drop(['sg'], axis=1)
name34 = name34.drop(['sg'], axis=1)
name45 = name45.drop(['sg'], axis=1)

- customer_num 설정

In [ ]:
"""
#2people
name23['customer_num'] = 2
name34['customer_num'] = 2
name45['customer_num'] = 2
#3people
name23['customer_num'] = 3
name34['customer_num'] = 3
name45['customer_num'] = 3
"""
#4people
name23['customer_num'] = 4
name34['customer_num'] = 4
name45['customer_num'] = 4

In [ ]:
name45

                name location  grade  score  customer_num
0           제주 신라 호텔      서귀포      5    9.0             4
1      라마다 프라자 제주 호텔       제주      5    8.2             4
2       라마다 제주 시티 호텔       제주      4    8.1             4
3        휘닉스 제주 섭지코지      서귀포      4    7.8             4
4         더큐브 리조트 제주      서귀포      4    8.2             4
...              ...      ...    ...    ...           ...
2595     라온 호텔 앤 리조트       제주      3    6.8             4
2596          에벤에셀호텔       제주      5    8.0             4
2597      골드원 호텔&스위트      서귀포      4    8.6             4
2598  제주 샹그릴라 호텔앤리조트       제주      3    7.8             4
2599      제주 마레보 리조트       제주      3    7.6             4

[2600 rows x 5 columns]

In [ ]:
name45.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          2600 non-null   object
 1   location      2600 non-null   object
 2   grade         2600 non-null   int64
 3   score         2600 non-null   float64
 4   customer_num  2600 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 101.7+ KB

##### price data

In [ ]:
price45

         price checkin_date checkin_day checkout_date checkout_day
0     21560000          601           목           605            월
1       708992          601           목           605            월
2       595044          601           목           605            월
3      1889259          601           목           605            월
4       314650          601           목           605            월
...        ...          ...         ...           ...          ...
2595    360000          626           월            63            금
2596    306000          626           월            63            금
2597    843636          626           월            63            금
2598    245580          626           월            63            금
2599    314348          626           월            63            금

[2600 rows x 5 columns]

In [ ]:
#610 -> 61 / 620 -> 62 / 630 -> 63으로 출력되는 문제 해결
for i in range(2800):
  if len(price23.iloc[i,1]) == 2:
    price23.iloc[i,1] = str(price23.iloc[i,1] + '0')
  if len(price23.iloc[i,3]) == 2:
    price23.iloc[i,3] = str(price23.iloc[i,3] + '0')

In [ ]:
#610 -> 61 / 620 -> 62 / 630 -> 63으로 출력되는 문제 해결
for i in range(2700):
  if len(price34.iloc[i,1]) == 2:
    price34.iloc[i,1] = str(price34.iloc[i,1] + '0')
  if len(price34.iloc[i,3]) == 2:
    price34.iloc[i,3] = str(price34.iloc[i,3] + '0')

In [ ]:
#610 -> 61 / 620 -> 62 / 630 -> 63으로 출력되는 문제 해결
for i in range(2600):
  if len(price45.iloc[i,1]) == 2:
    price45.iloc[i,1] = str(price45.iloc[i,1] + '0')
  if len(price45.iloc[i,3]) == 2:
    price45.iloc[i,3] = str(price45.iloc[i,3] + '0')

In [ ]:
price23 = price23.astype({'price':'int','checkin_date':'int', 'checkout_date':'int'})
price34 = price34.astype({'price':'int','checkin_date':'int', 'checkout_date':'int'})
price45 = price45.astype({'price':'int','checkin_date':'int', 'checkout_date':'int'})
price23.dtypes

price             int64
checkin_date      int64
checkin_day      object
checkout_date     int64
checkout_day     object
dtype: object

In [ ]:
price45

         price  checkin_date checkin_day  checkout_date checkout_day
0     21560000           601           목            605            월
1       708992           601           목            605            월
2       595044           601           목            605            월
3      1889259           601           목            605            월
4       314650           601           목            605            월
...        ...           ...         ...            ...          ...
2595    360000           626           월            630            금
2596    306000           626           월            630            금
2597    843636           626           월            630            금
2598    245580           626           월            630            금
2599    314348           626           월            630            금

[2600 rows x 5 columns]

In [ ]:
price45.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          2600 non-null   int64
 1   checkin_date   2600 non-null   int64
 2   checkin_day    2600 non-null   object
 3   checkout_date  2600 non-null   int64
 4   checkout_day   2600 non-null   object
dtypes: int64(3), object(2)
memory usage: 101.7+ KB

In [ ]:
date23 = price23.iloc[:,1:5]
price23 = price23.iloc[:,0]
date34 = price34.iloc[:,1:5]
price34 = price34.iloc[:,0]
date45 = price45.iloc[:,1:5]
price45 = price45.iloc[:,0]

##### name data + price data

In [ ]:
hotel_2n3d = pd.concat([date23, name23, price23], axis=1)
hotel_3n4d = pd.concat([date34, name34, price34], axis=1)
hotel_4n5d = pd.concat([date45, name45, price45], axis=1)

In [ ]:
hotel_3n4d

,checkin_date,checkin_day,checkout_date,checkout_day,name,location,grade,score,customer_num,price
0,601,목,604,일,제주 신라 호텔,서귀포,5,9.0,4,16170000
1,601,목,604,일,메종 글래드 제주,제주,5,8.1,4,2327353
2,601,목,604,일,라마다 프라자 제주 호텔,제주,5,8.2,4,545647
3,601,목,604,일,에코랜드 호텔,제주,0,0.0,4,1409058
4,601,목,604,일,라마다 제주 시티 호텔,제주,4,8.1,4,446283
...,...,...,...,...,...,...,...,...,...,...
2695,627,화,630,금,BK호텔 제주,서귀포,3,8.5,4,150156
2696,627,화,630,금,스테이 인 제주,서귀포,3,0.0,4,455244
2697,627,화,630,금,코업시티호텔 하버뷰,서귀포,4,8.1,4,173145
2698,627,화,630,금,라온 호텔 앤 리조트,제주,3,6.8,4,270000
2699,627,화,630,금,에벤에셀호텔,제주,0,8.5,4,229500

In [ ]:
hotel_4n5d['grade'].value_counts()

4    1015
3     863
5     406
0     173
2     117
1      26
Name: grade, dtype: int64

In [ ]:
hotel_4n5d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   2600 non-null   int64
 1   checkin_day    2600 non-null   object
 2   checkout_date  2600 non-null   int64
 3   checkout_day   2600 non-null   object
 4   name           2600 non-null   object
 5   location       2600 non-null   object
 6   grade          2600 non-null   int64
 7   score          2600 non-null   float64
 8   customer_num   2600 non-null   int64
 9   price          2600 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 203.2+ KB

In [ ]:
#hotel_2people = pd.concat([hotel_2n3d, hotel_3n4d, hotel_4n5d], ignore_index=True)
#hotel_3people = pd.concat([hotel_2n3d, hotel_3n4d, hotel_4n5d], ignore_index=True)
hotel_4people = pd.concat([hotel_2n3d, hotel_3n4d, hotel_4n5d], ignore_index=True)

In [ ]:
hotel_4people

,checkin_date,checkin_day,checkout_date,checkout_day,name,location,grade,score,customer_num,price
0,601,목,603,토,파르나스 호텔 제주,서귀포,5,9.2,4,1280000
1,601,목,603,토,제주 신라 호텔,서귀포,5,9.0,4,10780000
2,601,목,603,토,랜딩관 제주신화월드 호텔앤리조트,서귀포,5,8.3,4,516780
3,601,목,603,토,메종 글래드 제주,제주,5,8.1,4,369289
4,601,목,603,토,라마다 프라자 제주 호텔,제주,5,8.2,4,375693
...,...,...,...,...,...,...,...,...,...,...
8095,626,월,630,금,라온 호텔 앤 리조트,제주,3,6.8,4,360000
8096,626,월,630,금,에벤에셀호텔,제주,5,8.0,4,306000
8097,626,월,630,금,골드원 호텔&스위트,서귀포,4,8.6,4,843636
8098,626,월,630,금,제주 샹그릴라 호텔앤리조트,제주,3,7.8,4,245580
8099,626,월,630,금,제주 마레보 리조트,제주,3,7.6,4,314348

In [ ]:
#hotel_2people.info()
#hotel_3people.info()
hotel_4people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   8100 non-null   int64
 1   checkin_day    8100 non-null   object
 2   checkout_date  8100 non-null   int64
 3   checkout_day   8100 non-null   object
 4   name           8100 non-null   object
 5   location       8100 non-null   object
 6   grade          8100 non-null   int64
 7   score          8100 non-null   float64
 8   customer_num   8100 non-null   int64
 9   price          8100 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 632.9+ KB

In [ ]:
#hotel_2people.to_csv('hotel_2people.csv',index= None)
#hotel_3people.to_csv('hotel_3people.csv',index= None)
hotel_4people.to_csv('hotel_4people.csv',index= None)

##### 2인 + 3인 + 4인

In [ ]:
hotel_2people = pd.read_csv('/content/drive/MyDrive/AIB17/project1/hotel_2people.csv', encoding='UTF8')
hotel_3people = pd.read_csv('/content/drive/MyDrive/AIB17/project1/hotel_3people.csv', encoding='UTF8')
hotel_4people = pd.read_csv('/content/drive/MyDrive/AIB17/project1/hotel_4people.csv', encoding='UTF8')

In [ ]:
hotel_2people

,checkin_date,checkin_day,ckeckout_date,checkout_day,hotel_name,location,grade,score,customer_num,price
0,601,목,603,토,파르나스 호텔 제주,서귀포,5,9.2,2,727500
1,601,목,603,토,제주 신라 호텔,서귀포,5,9.0,2,772750
2,601,목,603,토,랜딩관 제주신화월드 호텔앤리조트,서귀포,5,8.3,2,303040
3,601,목,603,토,메종 글래드 제주,제주,5,8.1,2,332259
4,601,목,603,토,롯데 호텔 제주,서귀포,5,8.8,2,630000
...,...,...,...,...,...,...,...,...,...,...
8095,626,월,630,금,디 아넥스 호텔,서귀포,3,9.0,2,695927
8096,626,월,630,금,머큐어 앰배서더 제주,서귀포,5,8.0,2,748000
8097,626,월,630,금,블룸 호텔,서귀포,3,8.3,2,419305
8098,626,월,630,금,호텔 화인 제주,서귀포,4,9.2,2,198348
8099,626,월,630,금,호텔 스카이파크 제주 1호점,제주,3,7.8,2,201375

In [ ]:
print(hotel_2people.info())
print(hotel_3people.info())
print(hotel_4people.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   8100 non-null   int64
 1   checkin_day    8100 non-null   object
 2   ckeckout_date  8100 non-null   int64
 3   checkout_day   8100 non-null   object
 4   hotel_name     8100 non-null   object
 5   location       8100 non-null   object
 6   grade          8100 non-null   int64
 7   score          8100 non-null   float64
 8   customer_num   8100 non-null   int64
 9   price          8100 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 632.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   8100 non-null   int64
 1   checkin_day    8100 non-null   object
 2   checkout_date  8100 non-null   int64
 3   checkout_day   8100 non-null   object
 4   name           8100 non-null   object
 5   location       8100 non-null   object
 6   grade          8100 non-null   int64
 7   score          8100 non-null   float64
 8   customer_num   8100 non-null   int64
 9   price          8100 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 632.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   8100 non-null   int64
 1   checkin_day    8100 non-null   object
 2   checkout_date  8100 non-null   int64
 3   checkout_day   8100 non-null   object
 4   name           8100 non-null   object
 5   location       8100 non-null   object
 6   grade          8100 non-null   int64
 7   score          8100 non-null   float64
 8   customer_num   8100 non-null   int64
 9   price          8100 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 632.9+ KB
None

In [ ]:
hotel_2people.rename(columns={'ckeckout_date':'checkout_date'}, inplace=True)
hotel_3people.rename(columns={'name':'hotel_name'},inplace=True)
hotel_4people.rename(columns={'name':'hotel_name'},inplace=True)

In [ ]:
hotel_2people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   8100 non-null   int64
 1   checkin_day    8100 non-null   object
 2   checkout_date  8100 non-null   int64
 3   checkout_day   8100 non-null   object
 4   hotel_name     8100 non-null   object
 5   location       8100 non-null   object
 6   grade          8100 non-null   int64
 7   score          8100 non-null   float64
 8   customer_num   8100 non-null   int64
 9   price          8100 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 632.9+ KB

In [ ]:
hotel_total = pd.concat([hotel_2people, hotel_3people, hotel_4people], ignore_index=True)

In [ ]:
hotel_total

,checkin_date,checkin_day,checkout_date,checkout_day,hotel_name,location,grade,score,customer_num,price
0,601,목,603,토,파르나스 호텔 제주,서귀포,5,9.2,2,727500
1,601,목,603,토,제주 신라 호텔,서귀포,5,9.0,2,772750
2,601,목,603,토,랜딩관 제주신화월드 호텔앤리조트,서귀포,5,8.3,2,303040
3,601,목,603,토,메종 글래드 제주,제주,5,8.1,2,332259
4,601,목,603,토,롯데 호텔 제주,서귀포,5,8.8,2,630000
...,...,...,...,...,...,...,...,...,...,...
24295,626,월,630,금,라온 호텔 앤 리조트,제주,3,6.8,4,360000
24296,626,월,630,금,에벤에셀호텔,제주,5,8.0,4,306000
24297,626,월,630,금,골드원 호텔&스위트,서귀포,4,8.6,4,843636
24298,626,월,630,금,제주 샹그릴라 호텔앤리조트,제주,3,7.8,4,245580
24299,626,월,630,금,제주 마레보 리조트,제주,3,7.6,4,314348

In [ ]:
hotel_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24300 entries, 0 to 24299
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   24300 non-null  int64
 1   checkin_day    24300 non-null  object
 2   checkout_date  24300 non-null  int64
 3   checkout_day   24300 non-null  object
 4   hotel_name     24300 non-null  object
 5   location       24300 non-null  object
 6   grade          24300 non-null  int64
 7   score          24300 non-null  float64
 8   customer_num   24300 non-null  int64
 9   price          24300 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.9+ MB

In [ ]:
hotel_total.to_csv('hotel_total.csv', index=None)

##### hotel_total_final

In [ ]:
hotel_total = pd.read_csv('/content/drive/MyDrive/AIB17/project1/hotel_total.csv', encoding='UTF8')

In [ ]:
hotel_total.shape

(24300, 10)

In [ ]:
hotel_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24300 entries, 0 to 24299
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   24300 non-null  int64
 1   checkin_day    24300 non-null  object
 2   checkout_date  24300 non-null  int64
 3   checkout_day   24300 non-null  object
 4   hotel_name     24300 non-null  object
 5   location       24300 non-null  object
 6   grade          24300 non-null  int64
 7   score          24300 non-null  float64
 8   customer_num   24300 non-null  int64
 9   price          24300 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.9+ MB

In [ ]:
hotel_total_final = hotel_total.copy()

In [ ]:
hotel_total_final['stay_period'] = 0

In [ ]:
hotel_total_final

,checkin_date,checkin_day,checkout_date,checkout_day,hotel_name,location,grade,score,customer_num,price,stay_period
0,601,목,603,토,파르나스 호텔 제주,서귀포,5,9.2,2,727500,0
1,601,목,603,토,제주 신라 호텔,서귀포,5,9.0,2,772750,0
2,601,목,603,토,랜딩관 제주신화월드 호텔앤리조트,서귀포,5,8.3,2,303040,0
3,601,목,603,토,메종 글래드 제주,제주,5,8.1,2,332259,0
4,601,목,603,토,롯데 호텔 제주,서귀포,5,8.8,2,630000,0
...,...,...,...,...,...,...,...,...,...,...,...
24295,626,월,630,금,라온 호텔 앤 리조트,제주,3,6.8,4,360000,0
24296,626,월,630,금,에벤에셀호텔,제주,5,8.0,4,306000,0
24297,626,월,630,금,골드원 호텔&스위트,서귀포,4,8.6,4,843636,0
24298,626,월,630,금,제주 샹그릴라 호텔앤리조트,제주,3,7.8,4,245580,0
24299,626,월,630,금,제주 마레보 리조트,제주,3,7.6,4,314348,0

In [ ]:
for i in range(len(hotel_total_final)):
  if (hotel_total_final.iloc[i,2] - hotel_total_final.iloc[i,0]) == 2:
    hotel_total_final.iloc[i,10] = '2박 3일'
  elif (hotel_total_final.iloc[i,2] - hotel_total_final.iloc[i,0]) == 3:
    hotel_total_final.iloc[i,10] = '3박 4일'
  elif (hotel_total_final.iloc[i,2] - hotel_total_final.iloc[i,0]) == 4:
    hotel_total_final.iloc[i,10] = '4박 5일'

In [ ]:
hotel_total_final

In [ ]:
hotel_total_final['stay_period'].value_counts()

2박 3일    8400
3박 4일    8100
4박 5일    7800
Name: stay_period, dtype: int64

In [ ]:
hotel_total_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24300 entries, 0 to 24299
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   checkin_date   24300 non-null  int64
 1   checkin_day    24300 non-null  object
 2   checkout_date  24300 non-null  int64
 3   checkout_day   24300 non-null  object
 4   hotel_name     24300 non-null  object
 5   location       24300 non-null  object
 6   grade          24300 non-null  int64
 7   score          24300 non-null  float64
 8   customer_num   24300 non-null  int64
 9   price          24300 non-null  int64
 10  stay_period    24300 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 2.0+ MB

In [ ]:
hotel_total_final.to_csv('hotel_total_final.csv', index=None)

##### DB 연결

In [ ]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.6)

In [ ]:
import psycopg2
import csv

host = 'drona.db.elephantsql.com'
user = 'bnwptvqk'
password = 'RWLldWbYTfneg_E7-NYZ0YeUH75vKq1d'
database = 'bnwptvqk'

In [ ]:
conn = psycopg2.connect(
    host = 'drona.db.elephantsql.com',
    database = 'bnwptvqk',
    user = 'bnwptvqk',
    password = 'RWLldWbYTfneg_E7-NYZ0YeUH75vKq1d')

cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS hotel_total;")
cur.execute("""CREATE TABLE hotel_total(
                checkin_date INTEGER,
                checkin_day VARCHAR(200),
                checkout_date INTEGER,
                checkout_day VARCHAR(200),
                hotel_name VARCHAR(200),
                location VARCHAR(200),
                grade INTEGER,
                score FLOAT,
                customer_num INTEGER,
                price INTEGER,
                stay_period VARCHAR(200));""")


with open('/content/drive/MyDrive/AIB17/project1/hotel_total_final.csv','r', newline='') as f:
  r = csv.reader(f)
  next(r)
  for row in r:
    cur.execute("""INSERT INTO hotel_total VALUES(
      %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);""", tuple(row))

conn.commit()
cur.close()
conn.close()